# -*- coding: utf-8 -*-



	<div id="barraSuperior" class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/"><img src="static/images/mako_logo.png" alt="Imagen de logo" width="60px" heigh="35px">&nbsp;Pr&aacute;ctica 4 de DAI</a>
	    </div>
	    <div class="collapse navbar-collapse">
	    	% if sesion:
	    		<div class="navbar-right">
	    			<h4>Bienvenido ${sesion}!!</h4>
					<a href="/logout" class="btn btn-danger btn-xs">Salir</a>
	    		</div>				
	    	% else:
		        <form class="navbar-form navbar-right" action="/login" method="post" accept-charset="utf-8">
	          		${formularioLogin.render()}
	          		<button type="submit" class="btn btn-success btn-xs">Acceder</button>
	            </form>
	        % endif
	    </div> 
	  </div><!--/.navbar-collapse -->
	</div>
